.app {
    --primary-color: #CDDC39;
    --primary-color-rgba : rgba(205, 220, 57);
    --primary-color-rgba-tranparent: rgba(205, 220, 57, 0.3);
    --gray-color-tranparent: rgba(240, 240, 240, 0.5);
}
.image-blur{
   filter: blur(8px);
   -webkit-filter: blur(8px);
   background-position:  center;
   background-repeat: no-repeat;
   background-size: cover;
   background-origin: content-box;
   width: 100%;
   position: absolute;
   top:0;
   left: 0;
   height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.job-member-picture, .job-member-picture + span {
    cursor: pointer;
}

.job-member-picture:hover,.job-member-picture:hover + span, .job-member-picture + span:hover {
    font-weight: bold;
}

.progress-app {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.progress-app div {
    position: absolute;
    border: 4px solid rgb(24, 1, 1);
    opacity: 1;
    border-radius: 50%;
    animation: progress-app 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.progress-app div:nth-child(2) {
    animation-delay: -0.5s;
}

  @keyframes progress-app {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

@-webkit-keyframes progress-app {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
@-o-keyframes progress-app {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
@-moz-keyframes progress-app {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

.cover-page {
    background-clip: content-box;
}
.job-member-picture {
    width: 25px;
    height: 25px;
}
.job-team-title{
    font-weight: bold;
}
.job-status {
    background: #C1DF1F;
    font-weight: bold;
}

.job-organization-picture{
    width: 75px;
    height: 75px;
}

.job-headline-title {
    
    line-clamp: 2;
    overflow: hidden;
    white-space: normal;
}