.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 2rem 0 1rem 0;
  justify-content: center;
  align-items: center;
}

.img {
  width: 256px;
  height: 104px;
}

.filters {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.main {
  width: 100vw;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  padding-left: 0.4rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1040px;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 250px;
  min-height: 350px;
  position: relative;
}

.containerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #222222;
}

.coverimage {
  height: 70%;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #cc0000;
}

.card .containertext {
  display: grid;
  grid-template-rows: 1fr;
}

.card h2 {
  margin: 0.8rem 0 0.8rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.card p {

}

.card button {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: black;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right:    20px;
  bottom:   20px;
  background-color: #cc0000;
  color: white

}

.card button:hover {
  background-color: rgb(255, 132, 132);
  color: black;
}

.card button:active {
  color: white;
}

@media (max-width: 600px) {
  .header {
    margin-top: 1rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    margin: 0;
    margin-top: 1rem
  }

  .img {
    width: 128px;
    height: 52px;
  }
}
