@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin grid-layout($minWidth, $gridGap) {
  display: grid;
  grid-gap: $gridGap;
  grid-template-columns: repeat(auto-fill, minmax($minWidth, 1fr));
}